<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Dojo Survey</h1>
      <form>
        <p>Name: <span>{{name}}</span></p>
        <p>Dojo Location: <span>{{location}}</span></p>
        <p>Favorite Language: <span>{{language}}</span></p>
        <p>Comments: <span>{{comments}}</span></p>
      </form>
    </div>
  </body>
</html>
